[defaults]


# Where your roles live 

roles_path = ./roles


# Inventory file location (so you don’t have to keep typing -i)

inventory = inventory/hosts.ini


# Disable host key checking (important for lab environments)

host_key_checking = False


# Improve performance

forks = 10


# Disable retry files clutter

retry_files_enabled = False


# Output formatting (cleaner logs)

stdout_callback = yaml


# Disable deprecation warnings

deprecation_warnings = False



[winrm]


# WinRM connection timeout tuning

operation_timeout_sec = 60

read_timeout_sec = 70
